body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #007BFF;
    margin-top: 30px;
}

abbr img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #007BFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

strong, em {
    font-weight: bold;
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin-top: 20px;
}

ul li abbr img {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    margin-right: 10px;
    vertical-align: middle;
}

ul li p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}

ul li p a {
    color: #007BFF;
    text-decoration: none;
}

ul li p a:hover {
    text-decoration: underline;
}
